//
   Created by charlie on 6/11/2015.

extends layout
block content
   div.container
      #main.row
         div.col-sm-6.col-md-4.col-md-offset-4
            h1.text-center.login-title {title}
               div.account-wall
                  img(class='profile-img', src='images/SpaceNeedle.png')
                  form(action='/loginUser', method='post')
                     .form-group
                        label Email
                        input.form-control(type='text', name='username')
                     .form-group
                        label Password
                        input.form-control(type='password', name='password')
                     button.btn.btn-primary.btn-block(type='submit') Login

               a(href='/signup', class='text-center new-account') Create an account
               #message
               if message
                  h1.text-center.error-message #{message}