body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
    max-width: 600px;
    font-size: large;
}

button, .button {
    margin: 5px;
}

.button {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;
    display: inline-block; padding: 2px 8px;
}

.response {
    border: solid 1px black;
    background-color: #dedede;
}

.debug {
    border: solid 1px black;
    background-color: #999999;
}