extends layout

block content
  h1= title
  p Welcome to #{title}

  p 
    a(href='/#/databaseName') Get current Database Name and all names
  p
    a(href='/#/deleteDb') DeleteDb
  p
    a(href='/#/createDb') CreateDb
  p
    a(href='/#/insertStates') Insert States
  p
    a(href="/#/designDoc") Design Doc
  p
    a(href="/view01?designDoc=states&view=docId") View DocId
  p
    a(href="/view02?designDoc=states&view=docStateCapital") View State Capital


  p {{debug}}

  div
    div(data-ng-view='')