doctype html
html(lang='en-US', xml:lang="en-US", dir="ltr")
  head
    meta(charset="UTF-8")
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="bundle.js")
  body
    block content
