doctype html
html(data-ng-app='myModule')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="components/jquery/dist/jquery.min.js")
    script(src="components/angular/angular.js")
    script(src="components/angular-route/angular-route.js")
    script(src="javascripts/Control.js")    
  body
    block content