.button01{
	display: inline-block;
	white-space: nowrap;
	background-color: #cFc;
	border: 1px solid #777;
	padding: 0 1.5em;
	margin: 0.5em;
	font: bold 1em/2em "Comic Sans MS";
	text-decoration: none;
	color: #333;
	-moz-border-radius: .2em;
	-webkit-border-radius: .2em;
	border-radius: .2em;
	background-image: linear-gradient(top, #eee, #ccc);
}

.button01:hover{        
	background-color: #ded;        
	background-image: linear-gradient(top, #fafafa, #ddd);        
	}

.button01:active{        
	-moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;        
	-webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;        
	box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;        
	position: relative;        
	top: 1px;
}

.button01:focus{        
	outline: 0;        
	background: #fafafa;
}    

.button01:before 
{        
	background: #ccc;        
	background: rgba(0,0,0,.1);        
	float: left;        width: 1em;        
	text-align: center;        font-size: 1.5em;        
	margin: 0 1em 0 -1em;        
	padding: 0 .2em;        
	-moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);        
	-webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);        
	box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);        
	-moz-border-radius: .15em 0 0 .15em;        
	-webkit-border-radius: .15em 0 0 .15em;        
	border-radius: .15em 0 0 .15em;        
	pointer-events: none;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
	width: 115px;
}.myButton:hover {
	background-color:#5cb811;
}.myButton:active {
	position:relative;
	top:1px;
}

.beigeButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#F0F0F0;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#302208;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}.beigeButton:hover {
	background-color:#FFFFDD;
}.beigeButton:active {
	position:relative;
	top:1px;
}

/* Create icons with Hexadecimal values (entities) */
.add:before{        content: "\271A";}
.edit:before{        content: "\270E";}
.delete:before{        content: "\2718";}
.save:before{        content: "\2714";}
.email:before{        content: "\2709";}
.like:before{        content: "\2764";}
.next:before{        content: "\279C";}
.star:before{        content: "\2605";}
.spark:before{        content: "\2737";}
.play:before{        content: "\25B6";}