body {
	background-color: #5CB811;	
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

#allData {
	background-color: #0000FF;
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
	height: 100px;	
}

#checksLeft, #checksRight {
	float: left;
}

#conflictDisplay {
	background-color: green; 
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
	height: 100px;
}

#dataDisplay {
	float: left;
}

#debugMessageDiv {
	background-color: green; 
	border-style:solid;
	border-color: #CCFFCC;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
}

#debugButtonDiv {
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
}

#debugList {
	width: 230px; 
}

.elvenSmall {
	font-size: medium;
	padding: 0px;
	margin: 2px;
}

#layerDiv {
	float: left;
}

#locationDisplay {	
	background-color: green; 
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
}

#locationLeft, #locationRight {
	float: left;
}

#locationBottom {
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 3px 0px 0px 0px;
	clear: both;	
}

#mainCanvas {
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

#mainDiv {
	width: 500px;
	height: 300px;
	background-color: #22FF33;
	float: left;
}

#main {
	float: left;	
	margin: 0px;
	border-width: 0px;
	padding: 0px;
}

#npcTableView, #heroTableView {
	border: 3px solid black;	
}

#npcTableView td, #heroTableView td {
	border: 2px solid black;
}

#radios {
	background-color: green;
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 5px 5px;
	padding: 10px;
	width: 275px;
	height: 175px;
}

.screen {
	background: #22FF33;
	border-style:solid;
	padding: 10px;
	border-width:15px;
	width: 450px;
	height: 252px;
}

span.label {
	background-color: #006600;
	font-family: Courier;
}

span.numbers {
	background-color: #00AA00;
	font-family: "Century Gothic";
}

#textDisplay {
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
	height: 250px;
	background-color: #007000;
}

#tileDiv, #checkLayersDiv {
	float: left;
}

#viewHero {
	background-color: #33FF55;
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
	height: 400px;	
}

#viewNpc {
	background-color: #006600;
	border-color: #CCFFCC;
	border-style:solid;
	border-width: 5px 5px 0px 5px;
	padding: 10px;
	width: 275px;
	height: 400px;	
}

