head   
  title FactorySimple  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  
  script(data-main="javascripts/main", src="javascripts/require.js")
  
body
  h1 Factory Simple
        
  p Factory pattern
  
  ul      
  li#boatType
  li#sailColor
  li#sailCount
