doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/jquery-1.11.0.js')
    script(src='javascripts/WalkClient.js')
    
  body
    block content