doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/register.css')
    script(src='components/jquery/dist/jquery.min.js')
    script(src='javascripts/WalkClient.js')
    
  body
    block content