extends layout

block content
  h1= title
  
  p Welcome to #{title}. This app teaches a little about inserting into MongoDb and
  querying a complex JSON document.
  
  div
    button#read Read
    button#insertConfig Insert Config
    button#deleteData Delete Config
    button#clear Clear  
  
  pre#config01 Config
  
  h2 Run Query
  
  div
    p.
      Select one of the predefined queries and push the query button. If the query
      is successful, you will see data, otherwise, you will see an empty array.
  
  
  div
    select#userInput01   
      option { "Name": "ComplexConfig" }
      option { "Part01": "Two" }
      option { "Part01": "Five" }
      option { "Part03.Part03A": "This is a string for Part03A." }
      option { "Part03.Part03A": "This is a string for Part03B." }
      option { "Part04.Part04C.SubPart4CA": "SubPart04CA." }

  div
    button#runQuery01 Run Query  

  div  
    select#userProject
      option { "query": { "Part01": "Two" }, "project": { "Part01": 1 } } 
      option { "query": { "Part03.Part03A": "This is a string for Part03A." }, "project": { "Part03": 1 } }

  div
    button#queryProject Query Project
  
  pre#config02 Config
  
  h2 User Input
  
  p.
    Input a query in the field below, and then push the button. If the query
    is successful, you will see data, otherwise, you will see an empty array.
  
  input(type='text', id='userInput02', value='{ "Name": "ComplexConfig" }')
  
  div
    button#runQuery02 Run Query
  
  pre#config03 Config