<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="components/jquery/dist/jquery.js"></script>
    <script src="js/Control.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
  </head>
  <body>
    <h1></h1>
    <p>Welcome to </p><button id="getFive">Get Five</button>
    <p id="five"></p>
    <h2>JSON Area</h2>
    <p>
      Note that in our tests we never click the <strong>Get Scientists</strong> button
      because we have not provided a way to know when it returns. We can however,
      call <strong>getScientists</strong>, because we factored it out into a public
      method of <strong>Control.js</strong>.
    </p><button id="getScientists">Get Scientists</button>
    <ul id="jsonDisplay"></ul>
  </body>
</html>