.metadata
Thumbs.db
*.apk
*.dex
*.bak
resources.ap_
jarlist.cache
geany_run_script.bat
bower_components
coverage
node_modules
MyTempDir
DeleteMe*
*.*~
npm-debug.log
foo.bat
__pycache__
