[Paths]
winSitePath = G:\temp\test\
winCgi = G:\temp\test\CloudNotes\cgi-bin\
AwinSitePath = C:/Users/Public/Documents/Web/Prog282Test/
AwinCgi = C:/Users/Public/Documents/Web/Prog282Test/cgi-bin/
elvenwareSitePath = J:/Web/Elvenware/
elvenwareCgi = J:/cgi-bin/
linuxSitePath = /var/www/
linuxCgi = /usr/lib/cgi-bin/
