html
{
    height: 100%;
}

body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

#red
{
    background-color: #FF0000;
    width:25%;
    height:250px;
    display: inline-block;
}

#green
{
    background-color: #00FF00;  
    width:25%;
    height:250px;
    display: inline-block;
}
#blue
{
    background-color: #0000FF;  
    width:25%;
    height:250px;
    display: inline-block;
    position:fixed;
    right:25px;
    color: wheat;
}
