extends layout

block content

  #root

  script(src="bundle.js")

  h1= title
  p Welcome to #{title}

  #container.col
  a(href='http://jigsaw.w3.org/css-validator/check/referer')
    img(style='border:0;width:88px;height:31px' src='http://jigsaw.w3.org/css-validator/images/vcss' alt='Valid CSS!')
