<!DOCTYPE HTML>
<html ng-app="elvenApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>Elvenware Test Project</title>
        <script src="angular.js"></script>
        <script src="angular-resource.js"></script>
        <script src="index.js"></script>
        <script src="mongo-lab-settings.js"></script>
    </head>
    <body>
        <h1>Elvenware MongoLab 01 with JSON</h1>
        
        <div ng-controller="MyController">
        	<p>This project retrieves a small amount of JSON from
        		a node server and some data from the MongoLab cloud
        		based Mongo Database.</p>
        		
            <button ng-click="loadAll()">Load Data</button>
            		
            <p>Rows in DB: {{presidentsLength}}</p>        		
        	<ul>
    			<li ng-repeat="president in presidents">
    				<p>{{president.getPresidentName()}} TermStart {{president.getTermStart()}}</p>
    			</li>
    		</ul>
    		
			        		
            <div ng-bind-html-unsafe="hint"> </div>

    
            <p>Here is the JSON retreived from the server: </p>
            
            <p>{{data}}</p>            
        </div>
    </body>
</html>
