doctype html
html
  head
    title= title
    link(href="jasmine-2.0.0/jasmine.css" type="text/css" rel="stylesheet")
    script(src="javascripts/require.js" data-main="MainTest")
  h1= title
  p Welcome to #{title}

