mixin basics
    .panel.panel-default#basics-page
        .panel-heading Basics
        .panel-body

            div
                button.btn.btn-primary#page01 Page 01
                button.btn.btn-primary#page02 Page 02
                button.btn.btn-primary#page03 Page 03
            div
                button.btn.btn-success#views01 Views01
                button.btn.btn-success#views02 Views02
            div
                button.btn.btn-info#sessionStatus Session Status
                button.btn.btn-info#request Request

mixin database
    .panel.panel-default#database-page
        .panel-heading Database
        .panel-body

            div
                button.btn.btn-info#designDoc Insert Design Doc
                button.btn.btn-info#sessionView View Sessions
                button.btn.btn-info#sessionExpires Session Expires
            div
                button.btn.btn-info#getDatabaseName Get Database Name

mixin authentication
    .panel.panel-default#authentication-page
        .panel-heading Authentication
        .panel-body
            div
                button.btn.btn-info#loginStatus Login Status
            div
                button.btn.btn-info#logout Logout
            div
                a.btn.btn-warning(href="/loginPage") Login Page
