extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        | This app shows how to incrementally add react to an
        | existing express app.
    p#expressStuff

    h2 React Code
    #reactStuff