.page {
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5em 5em 1fr 5em;
	grid-template-areas:
		"header header header"
		"buttons buttons buttons"
		"main main main"
		"footer footer footer";
}


.container {
	display: flex;
	flex-direction: row;
}

.grid1 {
	flex: 0;
}

.elf-header {
	grid-area: header;
	background: azure;
}

.elf-buttons {
	grid-area: buttons;
	background: azure;
	border: #f1f1f1 thin solid;
}

.elf-main {
	grid-area: main;
}

elf-footer {
	grid-area: footer;
}

.container > div {
	flex: 1;
	background-color: #f1f1f1;
	width: 100px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
}

#div01 {
	border: darkred solid thick;
	margin: 1%;

	background-color: lightblue;
}
