body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html
{
	height: 100%;
}

body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

/* http://www.barelyfitz.com/screencast/html-training/css/positioning/ */

#navigate
{
	background-color: green;
	height: auto;
	width: 100%;
	/* float:left;
	position: fixed;
	top: 0;
	left: 0; */
}

#map
{
	background-color: blue;
	height: 100%;
	width: 100%;
	/*	
	position:fixed;
	left: 25%; 
	float:left; */
}



#items
{
	background-color: red;	
	display: inline-block;	
}
