body {  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}

html {
  height: 100%;
}

#map {
	background-color: blue;
	height: 100%;
	width: 100%;
}

#navigate {
	background-color: green;
	height: auto;
	width: 100%;
}

#items {
	background-color: red;	
	display: inline-block;	
}
