extends layout

block content
    h1= title
    p Welcome to #{title}

    ul
        <li><a href='/page01'>Page01</a></li>
        <li><a href='/page02'>Page02</a></li>
        <li><a href='/page03'>Page03</a></li>