doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='components/requirejs/require.js', data-main='javascripts/main')
  body
    block content
