extends layout
include mixin-nav

block append content

    .header
        +nav("Prog270", "navigationbar", "navbar-default navbar-fixed-top")
            +nav_item( "/home", "home", "active" ) Home
            +nav_item( "/databaseName" ) Database Names
            +nav_item_dropdowna( "/foo" )( label="Database" )
                +nav_item( "/createDb" ) Create Database
                +nav_item( "/deleteDb" ) Delete Database
            +nav_item_dropdowna( "/foo" )( label="NPC Bulk" )
                +nav_item( "insertDesignDoc" ) Insert Design Doc
                +nav_item( "/insertBulk" ) Insert Bulk
                +nav_item( "/viewBulk" ) View Bulk

    .container
            h1 #{pageTitle}
            p You are in the <strong>#{programTitle}</strong> program.

            #elfContent

            pre#debug

            pre#docs
