div.major
    div.minor
        label(for="bulk-npcID") NPC ID
        div.input-group
            span.input-group-addon(id="basic-addon1") #:
            input.form-control#bulk-npcId(type="text", value=1)
    div.minor
        label(for="bulk-npcName") NPC Name
        div.input-group
            span.input-group-addon(id="basic-addon2") #
            input.form-control#bulk-npcName(type="text", value=2)

    div.minor
        Button.btn.btn-info#bulk-forward Forward