body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  background-color: #00BBFF;
  border: black solid 1px;
  border-radius: 5px;
  padding-left: 5px;
  margin: 3px;
  width: 250px;  
}

#results, #message {
    width: 300px;
    border-radius: 5px;    
    padding-left: 5px;
    border: solid black 1px;    
}



li:hover {
    background-color: #00FFBB;
}

.blue {
    background-color: #00BBFF;
}

.green {
    background-color: #00FFBB;
}

.red {
    background-color: #FFBB00;
}
