extends layout
include mixin-nav

block append content

    .header
        +nav("Prog270", "navigationbar", "navbar-default navbar-fixed-top")
            +nav_item( "/home", "home", "active" ) Home
            +nav_item( "about", "about" ) About
            +nav_item_dropdown( "/foo" )( label="Dropdown" )
                +nav_item( "/home" ) Home
                +nav_item( "/about" ) About

    .container
            h1 #{pageTitle}
            p You are in the <strong>#{programTitle}</strong> program.

            #elfContent

            pre#debug
