<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>SessionInfo</title>
        <meta name="description" content="Node Express Session data made visible" />
        <meta name="author" content="Charlie Calvert" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>

    <body>
        <div>
            <header>
                <h1>SessionInfo</h1>
            </header>
            <nav>
                <p><a href="/">Home</a></p>
            </nav>

            <div>
                <ul>
                    <li><strong>Page Name</strong>: {{pageName}}</li>
                    <li><strong>User Name</strong>: {{userName}}</li>
                    <li><strong>Visit Count</strong>: {{visitCount}}</li>
                    <li><strong>Previous Page</strong>: {{previousPage}}</li>
                    <li><strong>SessionId</strong>: {{sessionId}}</li>
                    <li><strong>Host</strong>: {{host}}</li>
                    <li><strong>Connection</strong>: {{connection}}</li>
                    <li><strong>Referer</strong>: {{referer}}</li>
                    <li><strong>Cookie</strong>: {{cookie}}</li>
                    <li><strong>Cache Control</strong>: {{cacheControl}}</li>
                    <li><strong>User-Agent</strong>: {{userAgent}}</li>
                    <li><strong>CookieName01</strong>: {{cookieName01}}</li>
                    <li><strong>CookieName02</strong>: {{cookieName02}}</li>
                    <li><strong>CookieName03</strong>: {{cookieName03}}</li>
                    <li><strong>Secret</strong>: {{secret}}</li>
                    <li><strong>Http Version</strong>: {{httpVersion}}</li>
                </ul>
            </div>

            <footer>
                <p><a href='http://expressjs.com/api.html#req.params'>Request Params</a></p>
            </footer>
        </div>
    </body>
</html>
