<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />

  <title>SessionInfo</title>
  <meta name="description" content="" />
  <meta name="author" content="Charlie" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <div>
    <header>
      <h1>SessionInfo</h1>
    </header>
    <nav>
      <p><a href="/">Home</a></p>
    </nav>

    <div>
      <p>Page Name: {{pageName}}</p>
      <p>User Name: {{userName}}</p>
      <p>Previous Page: {{previousPage}}</p>
      <p>SessionId: {{sessionId}}</p>
      <p>Cookie: {{cookie}}</p>   
      <p>User-Agent: {{userAgent}}</p>   
    </div>

    <footer>
     <p><a href='http://expressjs.com/api.html#req.params'>Request Params</a></p>
    </footer>
  </div>
</body>
</html>
