extends layout

block content
  h1 PubSub Messenger
  p Click on the button to send a message.
  p See the console for additional information
  button#privateButton Send Message
  p#message01  
  p#message02  
