mixin baseButton(id, text)
    button(id=id).mdc-button.mdc-button--raised.mdc-ripple-surface(data-mdc-auto-init='MDCRipple') #{text}


mixin signIn
    main.mdl-layout__content.mdl-color--grey-100
        +baseButton('elf-sign-in', 'Sign in with Google')

        <pre><code id="elf-user">null</code></pre>

        img#elfPhoto(src='favicon.png', alt='', width="10%", min-width="120px")
