doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main="javascripts/main.js" src="components/requirejs/require.js")
  body
    block content
