p {
	width: 385px;	
}

label {
	display: block;
	width: 125px;
	float: left;
	text-align: right;
}

.dataFields, .buttonList {
	background-color: #DDDDDD;
	border: thin solid gray;
	width: 385px;
}

.buttonList {
	margin-top: 15px;
}
