<!DOCTYPE HTML>
<html ng-app="AngularNotify">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>AngularListProvider</title>
        <link href="index.css" rel="stylesheet" type="text/css" />
        <script src="angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body ng-controller="NoteController">
        <h1>Angular List Provider</h1>
        
        <div>
        	<p ng-model="noteData">{{noteData}}</p>
        	<p ng-model="debug">{{debug}}</p>
        	<textarea ng-model="note" cols="25" value="Test Data"> </textarea>        	
        </div>
        <div>
        	<button ng-click="addNote()">Add</button>
        </div>
        <div>
        	<ul ng-repeat="note in getNotes()">
        		<li>{{note}}</li>
    		</ul>
    	</div>
    	<div id="archive">
    		<p ng-model="archiveCount">{{archiveCount}}</p>
    		
    		<ul ng-repeat="archivedNote in getArchive()">
        		<li>{{archivedNote}}</li>
    		</ul>
        </div>
    </body>
</html>
