extends layout

block content
    h1= title
    p Welcome to #{title}
  
    nav
        ul
            li
                a(href='/page02') Page02
            li
                a(href='/Main.html') Main
