doctype 5
html
	head
	title= title
	link(rel='stylesheet', href='/stylesheets/style.css')

	nav
		ul
			li
				a(href='/') Home
			li
				a(href='/page02') Page02
			li
				a(href='/main.html') Main

body
	block content