extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        | This app shows how to incrementally add react to an
        | existing express app.

    p I think there is some sass code that is being ignored. See app.js for portions commented out.
    
    p#expressStuff

    h2 React Code
    #reactStuff
