doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        script(src="javascripts/control.js")
        script(src="javascripts/basics.js")
    body
        block content
