doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="javascripts/control.js")
    script(src="javascripts/basics.js")
    script(src="javascripts/materialize.min.js")
  body
    block content
