extends layout

block content
    .wrapper
        header.main-head
            h1= title

        article.content
            p Welcome to #{title}

            button#sailor Show Sailor
            button#sailorExpert Show SailorExpert
            p Select this button if you want to view the README on GitHub:

            button#readMe Read Me

        .side
            ul#boatList

    script(src="bundle.js")
