extends layout

block content
    h1= title
    p Welcome to #{title}

    button#sailor Show Sailor
    button#sailorExpert Show SailorExpert
    button#unitTest Unit Tests
    button#readMe Read Me

    ul#boatList

    script(src="bundle.js")
