doctype html
html
  head
    title= title
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(data-main="javascripts/main", src="javascripts/require.js")

  body
    block content