doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/elf-grid.css')
    link(rel='stylesheet', href='/stylesheets/elf-button.css')

  body
    block content
