extends layout

block content
  h1= title
  p Welcome to #{title}
  h2#read-json-code Couch Db, jQuery, jsonp, Hello World
  
  p
    | You must have CouchDb installed, and use the 
    a(href='http://localhost:5984/_utils/config.html') configuration tool 
    | to set jsonp to true.
      
  div
    button#buttonRead02 Hello from CouchDb
    ul#debug

  p The call we are making looks like this:
  pre.
        var readJson02 = function() {
            $.ajax({
                type: 'GET',
                url: 'http://127.0.0.1:5984/',
                dataType: 'jsonp', 
                success: function(data) {
                    showDebug(data.couchdb);
                    showDebug(data.vendor.name);
                    showDebug(data.version);
                },
                error: showError      
            });
        }
