doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    scripts(src="javascripts/jquery-1.9.1.min.js")
    scripts(src="javascripts/index.js")
    
  body
    block content
