doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="favicon.png")
    script(src="javascripts/index.js")

  body
    block content
