extends layout

block content
    h1= title
    p Welcome to #{title}

    button#getJson Parse Json
    button#getJsonAjax Get Json with Ajax
    hr
    button#getHtml Load HTML I
    button#getHtmlWithDivs Load HTML with Divs
    button#getHtmlSecondDiv Load HTML only second div
    hr
    button#getMarkdown Get Markdown Text
    button#getJadeWithMarkdown Load HTML Jade with Markdown
    hr
    button#getBar Bar
    button#getFoo Foo
    hr

    div#displayArea

    div
        pre#markdown

    ul#display

    hr

    :markdown
        Docs on routing found [here](http://expressjs.com/guide/routing.html).

    div.debug
        h2 Debug Area
        p#debug
