extends layout

block content
    h1= title
    p Welcome to #{title}

    button#buttonGetJson Parse Json
    button#buttonGetJsonAjax Get Json with Ajax
    button#buttonGetMarkdown Parse Markdown

    div#radioDiv

    div
        pre#markdown

   
  

    ul#display

    :markdown
        Docs on routing found [here](http://expressjs.com/guide/routing.html).

    div.debug
        h2 Debug Area
        p#debug
