doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/jquery-2.1.1.js")
    script(src="/javascripts/page.js")
    script(src="/javascripts/Utilities.js")
    script(src="/javascripts/Control.js")
  body
    block content
