//
   Created by charlie on 3/17/15.

h1 Page with Divs

div#partOne
    h2 Part I
    p This is Part I
    p The parameter for part 1: #{param01}

div#partTwo
    h2 Part II
    p This is Part II
    p The parameter for part 2: #{param02}

