html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#inputSection {
	background-color: #EEEEEE;
	width: 610px;
}

#mainDiv {
	position: relative;
	border: 1px;	
	width: 610px;
	height: 400px;	
}

#directions {
	background-color: #AAAAAA;	
	width: 100%;
	height: 400px;
	overflow: auto;	
}

#mapCanvas {
	height: 100%;
	width: 100%;		
}

@media print {
	html, body {
		height: auto;
	}

	#map_canvas {
		height: 650px;
	}
}


