<!DOCTYPE html>
<html dir="ltr">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

<title>TempTitleStringToReplace</title>

<meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0" name="viewport" />
<link href="/charlie/libs/css/style2.css" rel="stylesheet" title="style2" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/sunny/jquery-ui.css" />
<!-- link href="/charlie/libs/jquery-ui/jquery-ui.css" rel="stylesheet" type="text/css" / -->
<!-- script src="/charlie/libs/scripts/jquery.min.js"></script -->
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>
<script src="/charlie/libs/scripts/elvenware.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2806409-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>

<body>



