<!doctype html>
<html ng-app>
  <head>
    <title>Angular02</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h2>Check List</h2>
    <div ng-controller="ListControl">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">Save to Server</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new item here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
  </body>
</html>
