<!DOCTYPE html>
<html ng-app="main">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular02</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-2.2.2.min.js"
            integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<h2>Check List</h2>

<p>This is a slightly modified, classic Angular Demo. It allows you to add items to a TODO list, and select items to mark them as done. Below there is an option to simulate "archiving" items, which really just means you can add them to a separate list.</p>

<div ng-controller="ListControl as list">

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li ng-repeat="todo in todoList">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
        </div>
        <span>{{remaining()}} of {{todoList.length}} remaining</span>
    </div>

    <form ng-submit="addTodo()">

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Type in a TODO item and press the Add button.</p>
                <input type="text" ng-model="todoText" size="30"
                       placeholder="add new item here">
                <input class="btn-primary" type="submit" value="add">
            </div>
        </div>
    </form>

    <h2>Archiving</h2>

    <div class="entry-area">
        <p>You can <a href="" ng-click="archive()">click here to Archive.</a> the items above. After that, try adding
            more items, checking items in the list, etc.</p>
    </div>

    <h2>All Archived</h2>

    <div class="panel panel-default">
        <div class="panel-body">
            <ul class="list-unstyled">
                <li ng-repeat="todo in oldTodos">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
        </div>
    </div>

    <h2>Archived Done</h2>
    <div class="panel panel-default">
        <div class="panel-body">

            <ul class="list-unstyled">
                <li ng-repeat="todo in archiveDone">
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{todo.done}}">{{todo.text}}</span>
                </li>
            </ul>
        </div>
    </div>

    <button ng-click="showTodos()">Show TODOs in Console</button>
</div>
</body>
</html>
