<!doctype html>
<html ng-app="main">
  <head>
    <title>Angular02</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script -->
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <h2>Check List</h2>
    <div ng-controller="ListControl as list">
      <span>{{remaining()}} of {{todos.length}} remaining</span>
      [ <a href="" ng-click="archive()">Archive</a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText"  size="30"
               placeholder="add new item here">
        <input class="btn-primary" type="submit" value="add">
      </form>      
      
      <h2>All Archived</h2>
      <ul class="unstyled">
        <li ng-repeat="todo in oldTodos">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>
      <h2>Archived Done</h2>
      <ul class="unstyled">
        <li ng-repeat="todo in archiveDone">
          <input type="checkbox" ng-model="todo.done">
          <span class="done-{{todo.done}}">{{todo.text}}</span>
        </li>
      </ul>

      <button ng-click="showTodos()">Show TODOs in Console</button>
    </div>
  </body>
</html>
