doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/elf-grid.css')
    link(rel='stylesheet', href='/stylesheets/elf-button.css')
    script(src='javascripts/jquery-3.4.1.slim.min.js')
    script(src='javascripts/ElfUtils.js')
    script(src='javascripts/SimpleQueue.js')
    script(src='javascripts/SimpleStack.js')
    script(src='javascripts/Main.js')

  body
    block content
