doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')    
    script(src='javascripts/jquery-2.1.0.min.js')
    script(src='javascripts/ElfUtils.js')
    script(src='javascripts/SimpleQueue.js')
    script(src='javascripts/SimpleStack.js')
    script(src='javascripts/Main.js')

  body
    block content