extends layout

block content
  h1= title
  p Welcome to #{title}

  <input type="file" id="file" name="file" enctype="multipart/form-data" />
  <p><textarea id="fileData" rows="50" cols="85" name="myTxtArea">data</textarea></p>