doctype html
html(ng-app="elvenApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/styles/bootstrap.css')
    script(src="scripts/jquery.js")
    script(src="scripts/bootstrap.js")
    script(src="scripts/angular.js")
    script(src="scripts/angular-resource.js")
    script(src="javascripts/control.js")
    script(src="javascripts/mongo-lab-settings.js")
  body
    block content