doctype html
html
  head
    title= title    
    link(rel="shortcut icon", href="favicon16.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='jquery-1.11.0.js')
    script(src='AwsUi.js')
  body
    block content