doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/stylesheets/index.css', rel='stylesheet', type='text/css')
    script(src='components/angular/angular.js')
    script(src='javascripts/Library/crafty.js')
    script(src='javascripts/GameCore/Actors.js')
    script(src='javascripts/GameCore/Food.js')
    script(src='javascripts/GameCore/Grid.js')
    script(src='javascripts/GameCore/Player.js')
    script(src='javascripts/GameCore/Scenes.js')
    script(src='javascripts/GameCore/Village.js')
    script(src='javascripts/GameEvent.js')
    script(src='javascripts/GameWrapper.js')
    script(src='javascripts/Characters/Characters.js')
    script(src='javascripts/Characters/Hero.js')
    script(src='javascripts/Characters/Classes.js')
    script(src='javascripts/Characters/Races.js')
    script(src='javascripts/ElfGame.js')
    script(src='javascripts/ElfPlayer.js')
  body(ng-app="elfPlayer")
    block content