**/bower_components/**
**/build/**
**/coverage/**
**/materialize.min.js
**/serviceWorker.js
**/angular.js
**/angular.min.js
**/angular-mocks.js
**/angular-route.js
**/angular-resource.js
**/angular-animate.js
**/angular-resource.min.js
**/jquery-*.js
**/jasmine-*/**
**/jasmine.js
**/jasmine-html.js
**/boot.js
**/bootstrap*.js
**/ui-bootstrap-tpls-0.6.0.js
**/require.js
