div.major
    div.minor
        label(for="one-doc-npcID") NPC ID
        div.input-group
            span.input-group-addon(id="basic-addon1") #:
            input.form-control#one-doc-npcId(type="text", value=1)
    div.minor
        label(for="one-doc-npcName") NPC Name
        div.input-group
            span.input-group-addon(id="basic-addon1") #
            input.form-control#one-doc-npcName(type="text", value=2)

    div.minor
        Button.btn.btn-info#one-doc-forward Forward