.body {
    font-size: 25px;
}

.wrapper {
    font-size: 25px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
            "header"
            "nav"
            "content"
            "sidebar"
            "ad"
            "footer";
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
                "header  header"
                "nav     nav"
                "sidebar content"
                "ad      footer";
    }
    nav ul {
        display: flex;
        justify-content: space-between;
    }
}

/* 960 or more pixels use this */
@media (min-width: 960px) {
    .wrapper {
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas:
                "header header  header"
                "nav    content sidebar"
                "nav    content ad"
                "footer footer  footer"
    }
    nav ul {
        flex-direction: column;
    }
}

.main-head {
    grid-area: header;
}

.content {
    background-color: #00B7FF;
    grid-area: content;
}

.main-nav {
    color: black;
    background-color: #00cc00;
    grid-area: nav;
    padding: .2em;
}

.side {
    background-color: #5bc0de;
    grid-area: sidebar;
}

.ad {
    grid-area: ad;
}
.main-footer {
    grid-area: footer;
}


