//
   Created by charlie on 5/30/2015.

h3 Simple User

:markdown
   This application uses **pagejs**. **pagejs** provides routing on the client
   side.

   This portion of the page was routed on the client side by
   code found in **/public/javascripts/control.js**. That code
   was triggered by clicking on an anchor tag containing a URL
   shaped like this: **/users**.

   This web app then used jQuery to send a request to the server for
   the HTML fragment which you are currently reading. This HTML fragment
   was composed in markdown that was embedded in a jade file. For
   more details see **views/simple-user.jade** and **routes/index.js**.

