doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			nav
				ul
					li 
						a(href="/") Home
					li 
						a(href="/about") About
					li 
						a(href="/links") Links
		block content