extends layout

include menu-mixin

block content
    +elfMenu
    .container
        .starter-template
            h1 MongoLab02
            #drawHere01.draw-target
            #monogoData(ng-controller='MyController')
                p This project retrieves data from cloud based MongoDb server.
                button(ng-click='loadPresidents()') Load President Data
                br
                .inputDiv
                    p Rows in DB: {{presidentsLength}}
                    ul
                        li(ng-repeat='president in presidents')
                            p
                                | {{president.getPresidentName()}}
                                br
                                |                                    TermStart: {{president.getTermStart()}}
                                br
                                |                                    TermEnd: {{president.getTermEnd()}}
                    div(ng-bind-html-unsafe='hint')
                .inputDiv
                    input(type='text', ng-model='presidentName')
                    input(type='text', ng-model='termStart', placeholder='termStart')
                    input(type='text', ng-model='termEnd', placeholder='termEnd')
                    button(ng-click='newPresident()') Add President
                    hr
                    input(type='number', ng-model='indexOfItemToDelete', min='0', max='{{presidentsLength-1}}')
                    br
                    button(ng-click='deleteRow()') Delete
                    button(ng-click='updateRow()') Update