doctype html
html(ng-app="elvenApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/styles.css')
        link(rel='stylesheet', href='/styles/bootstrap.css')
        script(src="scripts/jquery.js")
        script(src="scripts/bootstrap.js")
        script(src="scripts/angular.js")
        script(src="scripts/angular-resource.js")
        script(src="javascripts/index.js")
        script(src="javascripts/MongoData.js")
        script(src="javascripts/PresidentResource.js")
        script(src="javascripts/mongo-lab-settings.js")
    body
        block content
