extends layout

block content
  h1= title
  p Welcome to #{title}

  p#intro
  p#paragraph01 Paragraph01
  p#paragraph02 Paragraph02
  
  ul
    li.listItem Item01
    li.listItem Item02
    li.listItem Item03
  
  div
    label Radio01
    input(type="radio", id="radio01", name="groupRadio", value="1")
    br
    label Radio02
    input(type="radio", id="radio02", name="groupRadio", value="2")
  
  div
    label Check03
    input(type="checkbox", id="check03",name="groupCheck", value="3")
    br
    label Check04
    input(type="checkbox", id="check04", name="groupCheck", value="4")
