doctype html
html(ng-app="elvenApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src="javascripts/index.js")
        script(src="javascripts/utilities.js")
    body
        block content
