body {
	background-color: #008FFF;
}

button {
	width: 150px;
}

#buttonDiv01, #buttonDiv02 {
	float: left;
	background-color: #00FFFF;
	width: auto;
	height: 135px;
	padding: 10px;
}

#showDoc {
	background-color: #00AADD;
	border: thin solid black;
	clear: both;
	width: 647px;
}



