//
   Created by charlie on 3/15/15.

extends render-index.jade
block append content
    .container
        +logo
        h1= title
        p Welcomes to #{title}
        <ul>
        //TOC_Start
        //TOC_End
        </ul>