p {
	width: 450px;	
}

label {
	display: block;
	width: 150px;
	float: left;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
}

.dataFields {
	background-color: #DDDDDD;
	border: thin solid gray;
	width: 450px;
}

#mainContent {
	background-color: #EEEEEE;
	border: thin solid gray;
	width: 450px;
}

#details, #mainContent {
	float: left;
}

#div01, #debugInfo {
	background-color: #BBDDBB;
	border: thin solid gray;
	width: 350px;
	
}

