<!DOCTYPE html>
<html ng-app="elfworld">
<head>
    <title>ElvenWorld</title>
    <link rel="shortcut icon" href="Assets/favicon.png">
    <link href="index04.css" rel="stylesheet" type="text/css" />    
    <script src="Library/angular.js"></script>
	<script src="Library/crafty.js"></script>
	<script src="Source/GameCore.js"></script>
	<script src="Source/ElfGame.js"></script>
	<script src="Source/ElfPlayer.js"></script>	
			      
</head>
<body>
    <div id="gameBoard" ng-controller="GameBoard">
        
    </div>
    
    <div ng-controller="ElfController">
        <p>This is my game</p>
        <p>{{name}}</p>        
        <p>{{eventNote}}</p>
        <p>{{encounterMessage}}</p>
        <p>Debug Messages</p>
            <ul ng-repeat="debugMessage in debugMessages track by $index">
			<!-- ul ng-repeat="debugMessage in debugMessages" -->
                <li>{{debugMessage}}</li>
            </ul>                
    </div>
</body>
</html>